{% extends "base.html" %}
{% block content %}

<style type="text/css">

</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39099473-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div class="container" >
    <h1 style="text-align:center;">News</h1>
    <hr>
</div>

<div class="container" >
    <h2 style="text-align:left;">2016</h2>
</div>
<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://cs.lbl.gov/news-media/news/2016/berkeley-lab-s-openmsi-licensed-to-imabiotech/" target="_self"><img src="{{ STATIC_URL }}images/news/OpenMSI-Logo-300x140.png " style="float:left;margin:30px 20px 5px 20px;" width="170px" ></a>
            <h3>April 2016: OpenMSI Licensed</h3>
            <p> Two years ago, Lab researchers developed OpenMSI — the most advanced computational tool for analyzing and visualizing mass spectrometry imaging (MSI) data.
                Now, OpenMSI intellectual property has been licensed to support ImaBiotech’s Multimaging™ technology in the field of pharmaceutical and cosmetic research and development.
                See the press release by <a href="http://cs.lbl.gov/news-media/news/2016/berkeley-lab-s-openmsi-licensed-to-imabiotech/" target="_blank">LBNL</a> and
                <a href="https://www.imabiotech.com/IMG/pdf/-55.pdf" target="_blank">ImaBiotech</a> for more details.
            </p>
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="/openmsi/client/bastet.html" target="_self"><img src="{{ STATIC_URL }}images/news/BASTet_Logo_Icon.png " style="float:left;margin:5px 20px 5px 20px;" width="170px" ></a>
            <h3>March 2016: BASTet Source Code Released</h3>
            <p>The development and application of state-of-the-art and novel analytical methods is a core driver in
               advancing the application and utility of MSI data. To address this central challenge, we have now
               released BASTet, the Berkeley Analysis and Storage Toolkit. BASTet is a novel framework for shareable and
               reproducible data analysis that supports standardized data and analysis interfaces, integrated
               data storage, data provenance, workflow management, and a broad set of integrated tools.
               BASTet also implements an easy-to-use API for reading and writing OpenMSI HDF5-based data files and is
               fully integrated with OpenMSI, making it easy to integrate new analysis methods, MSI formats, and other
               features with OpenMSI. For more details see <a href="/openmsi/client/bastet.html">here</a>.
            </p>
        </div>
    </div>
    <br>
</div>
<br>


<div class="container" >
    <h2 style="text-align:left;">2015</h2>
</div>

<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="{{ STATIC_URL }}images/news/rd100.jpg" target="_blank"><img src="{{ STATIC_URL }}images/news/rd100_small.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>November, 2015: R&D 100 Award</h3>
            <p> OpenMSI has been selected as one of the 100 most technologically significant new products of the year in Software/Services by the prestigious R&D100 awards. The complete list of 2015 award winners is available <a href="http://rd100awards.com/2015-rd-100-award-winners">here.</a> </p>
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/news/openmsi_update_sept2015.png" style="float:left;margin:20px 5px 5px 5px;" width="200px" ></a>
            <h3>September, 2015: Update Release</h3>
            <p> We are continuously improving and adding features to OpenMSI. The file manager page adds an improved file list view, including functionality searching files. We added improved error handling to the viewer and improved the initial load of images. We moved the processing of files from Carver to Edison and improved the data import. </p>
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://www.nersc.gov/news-publications/nersc-news/science-news/2015/data-deluge-pushes-mass-spec-imaging-to-new-heights/" target="_blank"><img src="{{ STATIC_URL }}images/news/cur_mantissa_news_july2015.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>July, 2015: ‘Data Deluge’ Pushes Mass Spec Imaging to New Heights </h3>
            Researchers at Berkeley Lab are combining mathematical theory and scalable algorithms with computational resources at the National Energy Research Scientific Computing Center (NERSC) to address growing data-management challenges in climate research, high-energy physics and the life sciences [...]. Complete NERSC news release by Kathy Kincade available
            <p>  <a href="http://www.nersc.gov/news-publications/nersc-news/science-news/2015/data-deluge-pushes-mass-spec-imaging-to-new-heights/" target="_blank">here at nersc.gov.</a>  </p>
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://www.rdmag.com/articles/2015/07/2015-r-d-100-award-finalists" target="_blank"><img src="{{ STATIC_URL }}images/news/openmsi_rd100_finalist_2015.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>July, 2015: R&D 100 Finalist</h3>
            <p> OpenMSI has been selected as a finalist for the 2015 R&D 100 Awards in the categories "Analytical/Test" and "Software/Services". The complete list of all 2015 R&D 100 Award Finalists is available at <a href="http://www.rdmag.com/articles/2015/07/2015-r-d-100-award-finalists" target="_blank">here at rdmag.com.</a>  </p>
        </div>
    </div>
    <br>
</div>
<br>



<div class="container" >
    <h2 style="text-align:left;">2014</h2>
</div>
<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/news/openmsi_update_sept2014.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>September, 2014: Update Release</h3>
            <p> We have rolled out a major update of the website. Major new features include that registered users can now upload their files via the OpenMSI website using Globus and submit, monitor, and manage compute jobs for converting, importing, and processing new MSI data files directly via the OpenMSI website. This update also includes enhancements to ease management of data sharing permissions and various other improvements. </p>
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/news/nersc_sciencegateways_mar1714.jpg" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>March 12, 2014: NERSC Gateways Pave Way for 'Team Science'</h3>
            <p> News release by Kathy Kincade highlights OpenMSI and other science gateways at NERSC. <i>"Computational scientists at NERSC work with researchers around the globe to develop online tools that are changing the way they compute and collaborate."</i> [<a href="http://www.nersc.gov/news-publications/news/nersc-center-news/2014/nersc-s-science-gateways-pave-way-for-team-science/" target="_blank">Online at nersc.gov</a>] </p>
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/news/openmsi_update_dec2013.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>Janurary 16, 2014: Update Release</h3>
            <p>We have rolled out a major update of the website. Using the web-based OpenMSI viewer, you can now explore the results of various statistical analyses and combinations of raw and derived analyses directly via the web. This release also provides a preview of some data provenance capabilities of OpenMSI which allow you retrace the history of analyses results. We have also added a new file browser. The file browser allows you to explore the content of files, launch the viewer for select datasets and analyses, manage files among many other features. Last but not least, we have added this news page and a publications page to allow you to keep track of what OpenMSI is up to and we have added a number of new demo datasets for you.
        </div>
    </div>
</div>
<br>



<div class="container" >
    <h2 style="text-align:left;">2013</h2>
</div>

<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://www.youtube.com/watch?v=69GIg2Ca_lk" target="_blank"><img src="{{ STATIC_URL }}images/news/bowen_science_theather_Oct2013.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>October 28, 2013: Coming to a hospital near you: mass spectrometry imaging</h3>
            <p>Benjamin Bowen presents OpenMSI at the "Science at Theater: Eight Big Ideas" event. Eight Berkeley Lab scientists presented eight game-changing concepts in eight minutes each, a the Berkeley Repertory Theater. [<a href=http://www.youtube.com/watch?v=69GIg2Ca_lk target="_blank">Watch the video on YouTube</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://pubs.acs.org/doi/abs/10.1021/ac402540a" target="_blank"><img src="{{ STATIC_URL }}images/publications/openmsi_acs_2013.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>October 2, 2013: OpenMSI Manuscript published by ACS Analytical Chemistry</h3>
            <p>Oliver Rübel, Annette Greiner, Shreyas Cholia, Katherine Louie, E. Wes Bethel, Trent R. Northen, and Benjamin P. Bowen,
            <b>"OpenMSI: A High-Performance Web-Based Platform for Mass Spectrometry Imaging"</b>
            Analytical Chemistry 2013 85 (21), 10354-10361, DOI: 10.1021/ac402540a. [<a href="{{ STATIC_URL }}images/publications/openmsi_acs_2013.bib">BibTeX</a>][<a href="http://pubs.acs.org/doi/abs/10.1021/ac402540a" target="_blank">Online at ACS</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://science.energy.gov/news/featured-articles/2013/09-18-13/" target="_blank"><img src="{{ STATIC_URL }}images/news/doe_logo.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>September 18, 2013: Eye-Opening Possibilities in Imaging</h3>
            <p>DOE Office of Science news blog by Charles Rousseaux covers OpenMSI. "Eye-Opening Possibilities in Imaging: OpenMSI, a powerful visualization tool developed by Berkeley Lab, may show the way to everything from better biofuels to more effective medicines...” [<a href="http://science.energy.gov/news/featured-articles/2013/09-18-13/" target="_blank">Online at science.energy.gov</a>].
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://www.nersc.gov/news-publications/news/science-news/2013/openmsi-a-science-gateway-to-sort-through-bio-imaging-s-big-datasets/" target="_blank"><img src="{{ STATIC_URL }}images/news/nersc_logo_400px.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>August 27, 2013: OpenMSI Official News Release</h3>
            <p>Linda Vu, “OpenMSI: A Science Gateway to Sort Through Bio-Imaging’s Big Datasets,” NERSC.  [<a href="http://www.nersc.gov/news-publications/news/science-news/2013/openmsi-a-science-gateway-to-sort-through-bio-imaging-s-big-datasets/" target="_blank">Online</a>]. This news release was simultaneously published also on <a href="http://crd.lbl.gov/news-and-publications/news/2013/openmsi-a-science-gateway-to-sort-through-bio-imaging-s-big-datasets/" target="_blank">crd.lbl.gov</a> and <a href="http://cs.lbl.gov/news-media/news/2013/openmsi-a-science-gateway-to-sort-through-bio-imaging-s-big-datasets/" target="_blank">cs.lbl.gov</a> and has been covered by <a href="http://technews.acm.org/archives.cfm?fo=2013-09-sep/sep-06-2013.html
" target="_blank" >ACM TechNews</a> on August 30,2013, and <a href="http://phys.org/news/2013-09-openmsi-science-gateway-bio-imaging-big.html" target="_blank">Phys.org</a> on September 02.2013
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/news/openmsi_launch.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" >
            <h3>July, 2013: Official Launch of the OpenMSI Demo Site</h3>
            <p>The OpenMSI website has been released officially to the public. The demo site provides three large MSI datasets for users to test OpenMSI. OpenMSI provides more than 2000 times faster access to complete, raw MSI data than existing tools via the web.
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="http://www.sciencemag.org/site/products/lst_20130531.xhtml" target="_blank"><img src="{{ STATIC_URL }}images/news/science_news_may31.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>May 31, 2013: OpenMSI highlighted in Science</h3>
            <p>J. M. Perkel, “LIFE SCIENCE TECHNOLOGIES: Mass Spec Imaging: From Bench to Bedside,” Science, vol. 340, no. 6136, pp. 1119–1121, May 2013. [<a href="http://www.sciencemag.org/site/products/lst_20130531.xhtml" target="_blank">Online</a>]
        </div>
    </div>
     <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/news/openmsi_early_history.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <h3>A brief history of OpenMSI</h3>
            <p>The OpenMSI project was founded by Ben Bowen and Oliver Rübel. On April 4th 2012, NERSC approved the first start-up allocation for OpenMSI. The hard work and dedication of the OpenMSI team led to the completion of a first internal prototype just 6 month later in October 2012. OpenMSI has been growing ever since and the hard work, dedication, and excitement of our users, collaborators, and our development team has made this project a truly amazing journey.
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}
