[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "==0.15.2"
gunicorn = "==19.9.0"
h5py = "==2.10.0"
ipython = "==4.2.1"
jinja2 = "==2.9.6"
lxml = "==3.8.0"
matplotlib = "==2.2.4"
numpy = "==1.16.6"
pillow = "==6.2.1"
pygments = "==2.5.2"
pyteomics = "==4.4.1"
requests = "==2.25.1"
sphinx = "==1.8.5"
django = "==1.6.11"
whitenoise = "==2.0.6"

[requires]
python_version = "2.7"

[dev-packages]
