{% extends "base.html" %}
{% block content %}

<style type="text/css">



</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39099473-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div class="container" >
    <h1 style="text-align:left;"><strong>Contact Us</strong></h1>
    <p style="text-align:left;">Questions, comments, thoughts: please drop us an email.  OpenMSI aims to serve the mass spectrometry imaging community with the best visualization and analysis tools.  We would appreciate hearing your comments about areas you like and areas you think need improvement.</p>
    <p>For questions about collaboration and using OpenMSI for your own research, please send us an email.  We are eager to support scientists working on the most exciting research</p>
    <p>OpenMSI is hosted on <a href="http://www.nersc.gov/">NERSC</a> hardware.  For live system status information, please refer to <a href="http://www.nersc.gov/users/live-status/">this</a> link
    <hr>
    <div class="row-fluid">
        <div class="span6" >
            <p><img src="http://portal.nersc.gov/project/openmsi/omsi_static/Ben-Bowen.jpg" style="float:left;margin:5px 5px 5px 5px;" >
                <address>
                  <strong>Ben Bowen</strong><br>
                  <a href="mailto:#">BPBowen@LBL.GOV</a>
                </address>

                <address>
                  <strong> Environmental Genomics and Systems Biology Division</strong><br>
                  Lawrence Berkeley National Lab<br>
                  One Cyclotron Road<br>
                  Mail Stop 977-180A <br>
                  Berkeley, CA, 94720<br>
                  <abbr title="Phone">P:</abbr> (510) 486-5138
                </address>


        </div>
        <div class="span6">
            <p><img src="http://portal.nersc.gov/project/openmsi/omsi_static/Oliver-Ruebel.jpg" style="float:left;margin:5px 5px 5px 5px;" >
                <address>
                  <strong>Oliver Rübel</strong><br>
                  <a href="mailto:#">ORuebel@LBL.GOV</a>
                </address>

                <address>
                  <strong>Computational Research Division</strong><br>
                  Lawrence Berkeley National Lab<br>
                  One Cyclotron Road<br>
                  Mail Stop 50F1650 <br>
                  Berkeley, CA, 94720<br>
                  <abbr title="Phone">P:</abbr> (510) 486-4064
                </address>
        </div>
    </div>

    <hr>


</div>


{% endblock %}
