{% extends "base.html" %}
{% block content %}

<style type="text/css">



</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39099473-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- OpenMSI (2).png: looks fine to me, we just need to add the individual content. If we want we could optionally add a "What is OpenMSI" section to the bottom of this page in which we could elaborate in more detail on the vision of OpenMSI (think of something along the lines of a press release). This would allow us to keep the main page very compact and link to this page for more details. I would call this page the About page in the menu. -->


<div class="container" >
    <h1 style="text-align:center;">Awards</h1>
    <hr>
</div>

<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <a href="{{ STATIC_URL }}images/news/rd100.jpg" target="_blank"><img src="{{ STATIC_URL }}images/news/rd100_small.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" ></a>
            <p> Benjamin P. Bowen and Oliver Rübel, <b>"OpenMSI has been selected as one of the 100 most technologically significant new products of the year in Software/Services by the prestigious R&D100 awards."</b>, November, 2015. The complete list of 2015 award winners is available <a href="http://rd100awards.com/2015-rd-100-award-winners">here.</a></p>
        </div>
    </div>
</div>


<div class="container" >
    <h1 style="text-align:center;">Publications</h1>
    <hr>
</div>

<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/publications/fischer_abb_2015.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" >
            <p>Curt R. Fischer, Oliver Rübel, and Benjamin P. Bowen,
            <b>"An accessible, scalable ecosystem for enabling and sharing diverse mass spectrometry imaging analyses"</b>
            Archives of Biochemistry and Biophysics, Sept. 2015, DOI: 10.1016/j.abb.2015.08.021. [<a href="{{ STATIC_URL }}images/publications/fischer_abb_2015.bib">BibTeX</a>][<a href=http://dx.doi.org/10.1016/j.abb.2015.08.021 target="_blank">Online at Science Direct</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/publications/cur_acs_2015.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" >
            <p>Jiyan Yang, Oliver Rübel, Prabhat, Micheal W. Mahoney, and Benjamin P. Bowen,
            <b>"Identifying important ions and positions in mass spectrometry imaging data using CUR matrix decompositions"</b>
            Analytical Chemistry 2015 (pre-print March 31, 2015), DOI: 10.1021/ac5040264. [<a href=http://dx.doi.org/10.1021/ac5040264 target="_blank">Online at ACS</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            <img src="{{ STATIC_URL }}images/publications/openmsi_acs_2013.png" style="float:left;margin:5px 5px 5px 5px;" width="200px" >
            <p>Oliver Rübel, Annette Greiner, Shreyas Cholia, Katherine Louie, E. Wes Bethel, Trent R. Northen, and Benjamin P. Bowen,
            <b>"OpenMSI: A High-Performance Web-Based Platform for Mass Spectrometry Imaging"</b>
            Analytical Chemistry 2013 85 (21), 10354-10361, DOI: 10.1021/ac402540a. [<a href="{{ STATIC_URL }}images/publications/openmsi_acs_2013.bib">BibTeX</a>][<a href=http://pubs.acs.org/doi/abs/10.1021/ac402540a target="_blank">Online at ACS</a>]
        </div>
    </div>
</div>
<br>





<div class="container" >
    <h1 style="text-align:center;">Presentations</h1>
    <hr>
</div>
<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Oliver Rübel and Benjamin P. Bowen,
            <b>"Visualization and analysis of mass spectrometry imaging data in OpenMSI with BASTet"</b>
             DOE Computer Graphics Forum (DOECGF) 2016, Apr. 26 - 28, 206 at Asilomar, Pacific Grove, CA (Talk)
        </div>
    </div>
   <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
           Jiyan Yang, Jey Kottalam, Mohitdeep Singh, Oliver Rübel, Curt Fischer, Benjamin P. Bowen, Michael W. Mahoney, Prabhat,
            <b>"Implementing Randomized Matrix Algorithms in Spark,"</b> 8th Extremely Large Databases Conference and Workshop
            (XLDB 2015), May 19-21, 2015, Stanford University, Stanford, California (Poster)
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Oliver Rübel, <b>"Mass Spectrometry Imaging in the World of Modern Data Sciences,"</b>
            <a href=http://bioimaging.lbl.gov/ target="_blank">LBNL BioImaging Seminar Series,</a> Feb. 05, 2014. (Talk)
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Oliver Rübel, Annette Greiner, Shreyas Cholia, Katherine Louie, E. Wes Bethel, Trent R. Northen, and Benjamin P. Bowen,
            <b>"OpenMSI: Advanced visualization, analysis and management of mass spectrometry imaging data via the web,"</b>
            <a href=http://vcresearch.berkeley.edu/datascience/dec12-registration tarket="_blank">DataScience Faire</a>, Dec.12, 2013, Berkeley CA, USA. (Poster)
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
           Prabhat, Jon McAuliffe, Michael Mahoney, Ryan Adams, Aydin Buluc, Fritz Sommer, Benjamin P. Bowen, Brenton Partridge,
           Jeffrey Regier, Oren Rippel, Oliver Ruebel, Urs Koster, Albert Wu, Jiyan Yang, Peter Nugent, David Schlegel,
           Craig Tull, Michael Wehner, Yushu Yao,
           <b>"MANTISSA: Massive Acceleration of New Techniques in Science with Scalable Algorithms,"</b>
           <a href=http://vcresearch.berkeley.edu/datascience/dec12-registration tarket="_blank">DataScience Faire</a>, Dec.12, 2013, Berkeley CA, USA. (Poster)
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Benjamin P. Bowen, <b>"Coming to a hospital near you: mass spectrometry imaging,"</b>
            <a href=http://www.lbl.gov/LBL-PID/fobl/ target="_blank">Science at the Theater: Eight Big Ideas,</a> Oct. 28, 2013 (<a href=http://www.youtube.com/watch?v=69GIg2Ca_lk>View the video on YouTube</a>). (Talk)
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Benjamin P. Bowen, <b>"3D NIMS, kinetic MSI, and visualization of data via the web using	OpenMSI,"</b>
            <a href=http://www.eupa2013.org/index.php/satellite-workshops target="_blank">3D-MASSOMICS Satellite Workshop at EuPA2013 Scientific Meeting, “3D IMAGING MASS SPECTROMETRY,”</a> October 18, 2013 -	Saint Malo, France. (Talk)
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Benjamin P. Bowen, <b>"OpenMSI: A Mass Spectrometry Imaging Science Gateway,"</b>
            <a href=http://www.nersc.gov/users/NUG/annual-meetings/nug-2013/user-day/ target="_blank">NUG 2013 User Day: Trends, Discovery, and Innovation in High Performance Computing,</a> Feb. 13, 2013. (Talk)
        </div>
    </div>
</div>
<br>


<div class="container" >
    <h1 style="text-align:center;">User Publications</h1>
    <hr>
</div>
<div class="container">
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Katherine Louie, Benjamin Bowen, Rebecca Lau, Trent Northen, <b>"Localizing metabolic synthesis in microbial cultures with kinetic mass spectrometry imaging (kMSI),</b>
            bioRxiv 050658; doi: http://dx.doi.org/10.1101/050658 [<a href=http://dx.doi.org/10.1101/050658 target="_blank">Online at bioRxiv</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Doralyn S. Dalisay, Kye Won Kim, Choonseok Lee, Hong Yang, Oliver Rübel, Benjamin P. Bowen, Laurence B. Davin, and Norman G. Lewis,
            <b>"Dirigent Protein-Mediated Lignan and Cyanogenic Glucoside Formation in Flax Seed: Integrated Omics and MALDI Mass Spectrometry Imaging,"</b>
            Journal of Natural Products, DOI: 10.1021/acs.jnatprod.5b00023. [<a href=http://dx.doi.org/10.1021/acs.jnatprod.5b00023 target="_blank">Online at ACS</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Leslie P Silva and Trent R Northen,
            <b>“Exometabolomics and MSI: deconstructing how cells interact to transform their small molecule environment,"</b>
            Elsevier, Current Opinion in Biotechnology, 2015, 34 (0), 209 - 216. [<a href=http://dx.doi.org/10.1016/j.copbio.2015.03.015 target="_blank">Online at ScienceDirect</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Joaquim Jaumot and Romà Taulera,
            <b>“Potential use of multivariate curve resolution for the analysis of mass spectrometry images,</b>
            Analyst, The Royal Society of Chemistry, 2015 140 (3), 837-846. [<a href=http://dx.doi.org/10.1039/C4AN00801D target="_blank">Online at RSC</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            M. Lagarrigue, R. Lavigne, E. Tabet, V. Genet, J.P. Thomé, K. Rondel, B. Guével, L. Multigner, M. Samson, C. Pineau
            <b>"Localization and in situ absolute quantification of chlordecone in the mouse liver by MALDI imaging,"</b>
            Analytical Chemistry 2014 85 (22), 10856-10862. [<a href=http://pubs.acs.org/doi/abs/10.1021/ac500313s target="_blank">Online at ACS</a>][<a href="https://openmsi.nersc.gov/openmsi/openmsi/client/viewer/?file=%2Fproject%2Fprojectdirs%2Fopenmsi%2Fomsi_data_private%2Fbpb%2F20140519_Chlordecone_Liver_Lagarrigue-Reboutier.h5&dataIndex=0&expIndex=0&channel1Value=502.26&channel1RangeValue=0.05&channel2Value=529.29&channel2RangeValue=0.05&channel3Value=888.9&channel3RangeValue=0.05&rangeValue=0.05&cursorCol1=61&cursorRow1=82&cursorCol2=121&cursorRow2=190&enableClientCache=false" target="_blank">Data Online at OpenMSI</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Katherine B. Louie, Benjamin P. Bowen, Xiaoliang Cheng, James E. Berleman, Romy Chakraborty, Adam Deutschbauer, Adam Arkin, and Trent R. Northen,
            <b>“Replica-Extraction-Transfer” Nanostructure-Initiator Mass Spectrometry Imaging of Acoustically Printed Bacteria,</b>
            Analytical Chemistry 2013 85 (22), 10856-10862. [<a href=http://pubs.acs.org/doi/abs/10.1021/ac402240q target="_blank">Online at ACS</a>]
        </div>
    </div>
    <br>
    <div class = "row-fluid">
    	<div class = "span12" style="text-align:left;">
            Bin Dong, Suren Byna, and John Wu, <b>"Expediting Scientific Data Analysis with Reorganization,"</b> IEEE Cluster 2013
            [<a href=https://sdm.lbl.gov/~sbyna/research/papers/2013-Cluster2013-SDS.pdf target="_blank">Online at LBL.gov</a>]
        </div>
    </div>
</div>
<br>


{% endblock %}
